---
import Author from './Author.astro';

export interface Props {
	name: string;
	artist: string;
	publishDate: string;
	heard: string[];
	alt: string;
}

const { name, artist, publishDate, heard, alt } = Astro.props;
---

<div class="layout">
		<ul>
		{
			heard.map((medium) => {
				return <li>{medium}</li>
			})
		}
		</ul>
	<main>
		<slot />
	</main>
</div>

<style lang="scss">

</style>
