<h2 class="title">歌詞</h2>
<article class="lyric">
  <slot />
</article>

<style lang="scss">
.title {
  margin: 0 0 12px;
  color: hsl(var(--color-dawn));
  font-size: 1.6rem;
}

.lyric {
  display: grid;
  row-gap: 40px;
  font-family: var(--font-body);
}
</style>
